/*FONT FAMILIES*/


/*
font-family: 'Poppins', sans-serif;
font-family: 'Patua One', cursive;
font-family: 'Poller One', cursive;
*/

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../images/Sports.png');
}

input {
    display: block;
    border-radius: 5px;
}

textarea {
    display: block;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Patua One', cursive;
}

h3 {
    font-size: 1.5em;
}

.header {
    height: 90px;
    width: 100%;
    margin-bottom: 3%;
    opacity: 0.9;
    background: linear-gradient(45deg, white 55%, #b1b9c6);
}

.logoDiv {
    border-bottom: 1px solid #b1b9c7;
    box-shadow: 0 1px 10px black;
}

.openLogo {
    margin-left: 1.5%;
    opacity: 0.8;
    max-height: 90px;
}

.d-block {

    border: 4px solid #b1b9c6;
    padding: 2%;
    position: relative;
}

.overlay {
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
    /*display: flex;
    flex-direction: column;*/
}

.openText {
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    font-size: 35px;
    font-family: 'Poller One', cursive;
}

.openDialogue {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin: auto;
}

.textDialogue {
    color: black;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

.divForButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    margin: 1%;
    margin-top: 2%;
    border: 2px dashed rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    color: #464a4e;
    background-color: #b1b9c6;
    max-width: 40%;
    font-family: 'Patua One', cursive;
}

.btn:hover {
    background-color: #f7f8fa;
}

.btn:active {
    background-color: #f7f8fa;
}

.footer {
    background-color: #b1b9c6;
    color: #464a4e;
    height: 4%;
    text-align: center;
    line-height: 1.5;
    position: fixed;
    padding-top: .3%;
}

.infoContainers {
    border: 4px solid black;
    border-radius: 20px;
    margin-top: 3%;
    padding: 6%;
    background-color: white;
}

.createPageStyle {
    width: 95%;
    height: 90%;
    padding: 2%;
    margin: auto;
}


.createPageMap {
    display: flex;
    position: relative;
    width: 100%;
    height: 85%;
    margin-top: 2%;
}

.searchMap {
    width: 100%;
    height: 100%;
}

.weatherInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.wB {
    flex: 2;
    border-top: 1px dashed black;
    margin-top: 3%;
    padding-top: 3%;
}

.eventForm {
    margin-bottom: 10%;
}

#app {
    height: 100%;
    width: 100%;
    position: absolute;
}

.sportChoice {
    display: inherit;
    margin-bottom: 5px;
}

.eSubmit {
    margin-top: 15px;
    background-color: #e9ebef;
    border-radius: 5px;
    padding: 1% 3% 1% 3%;
}

.eSubmit:hover {
    background-color: #eff1f3;
}

.eSubmit:active {
    background-color: #eff1f3;
}

.w3-modal {
    background-color: darkgray;
    width: 100%;
    padding: 2px;
    position: fixed;
    z-index: 1;
    box-shadow: 2px 2px 35px black;
}

.w3-modal-content {
    border-style: solid;
    border-width: 2px;
    border-color: #a4cdfd;
    height: 100%;
    background-image: url('../images/Sports.png');
    text-align: center;
    padding: 5%;
}

.modalTxt {
    font-size: 20px;
}

.modalButton {
    width: 100px;
    background-color: #6271a8;
    color: white;
}

.FBimage {
    width: 15%;
    padding: 2%;
}

.errorTxt {
    color: red;
    margin-top: 3%;
}


@media screen and (min-width: 375px) {
    .textDialogue {
        width: 95%;
    }

    .btn {
        font-size: 15px;
    }
}

@media screen and (min-width: 414px) {

    .openText {
        background-color: rgba(255, 255, 255, 0.5);
        font-size: 40px;
    }

    .textDialogue {
        font-size: 20px;
        width: 90%;
    }
}

@media screen and (min-width: 768px) {

    .openText {
        font-size: 75px;
    }

    .textDialogue {
        font-size: 35px;
    }

    .btn {
        font-size: 40px;
    }

    .openLogo {
        max-height: 150px;
    }

    .header {
        height: 150px;
    }
}

@media screen and (min-width: 1024px) {

    .openText {
        font-size: 90px;
    }

    .textDialogue {
        font-size: 43px;
        width: 90%;
    }

    .btn {
        font-size: 40px;
    }

    .openLogo {
        max-height: 200px;
    }

    .header {
        height: 200px;
    }

    .logoDiv {
        height: 300%;
    }
}

@media screen and (min-width: 1025px) {
    .infoContainers {
        margin-top: 2%;
        padding: 2%;
        margin-right: 2%;
    }
    .searchMap {
        width: 100%;
    }
    .createPageStyle {
        padding: 0;
        display: flex;
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .createPageMap {
        height: 100%;
        flex-basis: 71%;
        order: 1;
    }

    .weatherBox {
        height: 45%;
        order: 3;
    }
    .weatherInfo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .eventForm {
        order: 2;
        flex-grow: 2;
        margin-bottom: 0;
        padding: 0 0 1% 2%;
    }
    label {
        margin-top: 1.5%;
    }
    .header {
        height: 10%;
        margin-bottom: 2%;
    }

    .logoDiv {
        height: 100%;
    }

    .openLogo {
        max-height: 115px;
        height: 150px;
    }

    .mainDialogue {
        border-radius: 10px;
    }

    .openDialogue {
        width: 50%;
        border: 2px dashed rgba(0, 0, 0, 0.5);
        margin-top: 6%;
        width: 700px;
    }

    .textDialogue {
        padding: 4%;
        font-family: 'Patua One', cursive;
        font-weight: bold;
        font-size: 25px;
        width: 90%;
    }

    .overlay {
        top: 30%;
    }


    .btn {
        color: black;
        font-size: 23px;
        background-color: rgba(255, 255, 255, 0.5);
    }

