.header {
    height: 90px;
    width: 100%;
    background-color: #b1b9c6;
    margin-bottom: 3%;
    opacity: 0.9;
    border: 1px solid #b1b9c6;
}

.logoDiv {
    /*background-color: white;*/
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    /*width: 100%;*/
}

#app {
    display: flex;
}

.footer {
    background-color: #b1b9c6;
    color: #464a4e;
    height: 4%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 3%;
    /*font-family: 'Poller One', cursive;*/
    line-height: 1.5;
}

.d-block {
    border: 4px solid #b1b9c6;
    padding: 2%;
    position: relative;
    display: flex;
}

.item {
    display: none;
    position: relative;
    transition: (.3s ease-in-out left);
}

.openText {
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    font-size: 35px;
    font-family: 'Poller One', cursive;
}

.overlay {
    color: #fff;
    position: absolute;
    z-index: 12;
    top: 40%;
    left: 0;
    width: 100%;
    height:100%;
    text-align: center;
    margin-bottom: 1%;
}

.btn {
    margin: 1%;
    margin-top: 2%;
    border: 4px solid #b1b9c6;
    opacity: 0.8;
    color: #464a4e
    background-color: #b1b9c6;
    line-height: 1.5;

}

.openLogo {
    margin-left: 1.5%;
    opacity: 0.8;
    max-height: 90px;
    padding: 10px;  
    
}

.openDialogue {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    margin: auto;
}

.textDialogue {
    color: black;
    font-weight: bold;
    text-align: center;
    margin: auto;
    width: 80%;
   
    
}

.createPageStyle {
    width: 90%;
    height: 90%;
    padding: 5px;
    margin-left: 5%;
}

input {
    display: block;
}


.createPageMap {
    display: flex;
    position:relative;
    width: 100%;
    height:75%;
    border: 4px solid black;
    border-radius: 25px;
    padding: 5px;
}

.eventForm {
    margin-top: 10px;
    border: 4px solid black;
    border-radius: 25px;
    padding: 20px;

}

#app {
    height: 100%;
    width: 100%;
    position: absolute;
}

.sportChoice {
    display: inherit;
    margin-bottom: 5px;
}

.eSubmit {
    margin-top: 15px;
}

.w3-modal {
    top: 30%;
    left: 35%;
    width: 400px;
    height: 200px;
    padding: 2px;
    position: absolute;
    z-index: 1;
    background-color: darkgray;
    box-shadow: 2px 2px 30px;

}

.w3-modal-content {
    border-style: solid;
    border-width: 2px;
    border-color: #a4cdfd;
    height: 100%;
    background-color: white;
    text-align: center;
    padding: 60px;
}

.modalTxt {
    font-size: 20px;

}

.modalButton {
    width: 100px;
    background-color: #a4cdfd;
}

@media screen and (min-width: 415px) {
    
    .openText {
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 70px;
    }

    .overlay {
        top: 20%;
    }
}

@media screen and (width: 412px) {

    .overlay {
        top: 45%;
    }
}

@media screen and (min-width: 768px) {
    
    .openDialogue {
        margin-top: 35%;
    }
    
}

@media screen and (min-width: 1024px) {

    .openText {
        font-size: 90px;
    }

    .overlay {
        top: 20%;
    }

    .textDialogue {
        margin-top: 35%;
    }
}

@media screen and (min-width: 1025px) {
    
    .header {
        margin-bottom: 1%;
    }

    .overlay {
        top: 30%;
    }

    .textDialogue {
        margin-top: 25%;
    }
}


